/*--------FONT-----------*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap");
/* -----MISC------*/
/*----------VARIABLES------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif; }

img {
  width: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  background-color: #969696;
  background-image: url(../img/grunge.webp); }

p {
  color: white; }

a {
  color: black;
  text-decoration: none; }

a:active {
  color: black; }

a:hover {
  color: black; }

a:visited {
  color: #000; }

h1, h2, h3, footer {
  color: white; }

@media (max-width: 1920px) {
  ul {
    font-size: 1.5rem; } }

@media (max-width: 1440px) {
  ul {
    font-size: 1.25rem; } }

@media (max-width: 1366px) {
  ul {
    font-size: 1rem; } }

/*-------PARTIALS---------*/
/*-----HEADER  FLEX - HTML-------*/
header {
  background: linear-gradient(30deg, #dfdfdf 0%, #9d9d9d 24%, #7c7c80 49%, #303031 79%, black 100%);
  /*----------NAV-----------------*/ }
  header .header__section1--img-1 {
    box-shadow: 2px 2px 4px black; }
  header .nav-link {
    transition: 0.5s; }
    header .nav-link:hover {
      transform: scale(1.05); }
  header .active {
    border: 2px solid black;
    box-shadow: 1px 1px 4px white;
    transform: scale(1.05); }

/*-----------------MEDIA QUERIES----------------*/
@media (max-width: 1920px) {
  .navbar-nav {
    font-size: 1.25rem; }
  .me-5 {
    margin-right: 19rem !important; } }

@media (max-width: 1440px) {
  .me-5 {
    margin-right: 5rem !important; } }

@media (max-width: 1366px) {
  .navbar-nav {
    font-size: 1rem; }
  .me-5 {
    margin-right: 4rem !important; } }

@media (max-width: 1024px) {
  .me-5 {
    margin-right: 0rem !important; } }

/*---------------FOOTER---------------*/
footer {
  background: linear-gradient(180deg, #dfdfdf 5%, #8a8989 46%, #58585c 80%); }

.footer {
  padding: 0rem;
  margin: 0rem .75rem; }

@media (max-width: 768px) {
  footer {
    font-size: 1rem;
    margin: .75rem; }
    footer .footer__icon-instagram {
      width: 75%;
      height: auto; } }

@media (max-width: 320px) {
  footer {
    font-size: 0.5rem;
    padding: 1rem;
    margin: .75rem 0rem; } }

/*----------VIEWS--------------*/
/*-------------------GRID TEMPLEATE AREA----------------------*/
#grid-container-index {
  display: grid;
  grid-template-areas: "header" "section0" "section1" "section2" "medios-de-pagos" "footer"; }

header {
  grid-area: header; }

#section0 {
  grid-area: section0; }

#section1 {
  grid-area: section1; }

#section2 {
  grid-area: section2; }

#section3-medios-de-pagos {
  grid-area: medios-de-pagos; }

footer {
  grid-area: footer; }

/*------SECTION 1-HTML--------*/
.section1 {
  margin: 1.5rem 2.5rem 0rem; }
  .section1__article {
    flex-basis: 350px; }
    .section1__article--img {
      box-shadow: 2px 2px 4px black; }
    .section1__article--div {
      background-color: #cdcccc;
      box-shadow: 2px 2px 4px black; }

/*------SECTION 2-HTML--------*/
.section2 {
  margin: 1.5rem 2.5rem 0rem; }
  .section2__article {
    flex-direction: column;
    flex-basis: 545px; }
    .section2__article--img {
      box-shadow: 2px 2px 4px black; }
    .section2__article--div {
      background-color: #cdcccc;
      box-shadow: 2px 2px 4px black; }

/*------MEDIOS DE PAGOS-HTML--------*/
.section3 {
  margin-top: 1.5rem; }
  .section3__content, .section3__content--article {
    background-color: #ededed; }
    .section3__content--article {
      width: 20%;
      height: auto; }
      .section3__content--article--img {
        max-width: 50px;
        box-shadow: 2px 2px 4px black; }

/*-----------------MEDIA QUERIES----------------*/
@media (max-width: 1920px) {
  /*-----------------section 1----------------*/
  .section1__article {
    flex-basis: 370px; }
  /*-----------------section 2----------------*/
  .section2__article {
    flex-basis: 580px; }
  /*-----------------medios de pago----------------*/
  .section3__content, .section3__content--article {
    margin: 0rem 14rem;
    padding: .25rem; }
    .section3__content .ms-3, .section3__content--article .ms-3 {
      margin-left: 0.25rem !important; }
    .section3__content--article--h4 {
      font-size: 1.5rem; } }

@media (max-width: 1440px) {
  /*-----------------section 1----------------*/
  .section1__article {
    flex-basis: 330px; }
  /*-----------------section 2----------------*/
  .section2__article {
    flex-basis: 530px; }
  /*-----------------medios de pagos----------------*/
  .section3__content, .section3__content--article {
    margin: 0rem 6rem; }
    .section3__content--article--h4 {
      font-size: 1.25rem; } }

@media (max-width: 1366px) {
  .section2__article {
    flex-basis: 520px; }
  .section3__content, .section3__content--article {
    margin: 0rem 3.5rem; } }

@media (max-width: 1024px) {
  /*---------------SECTION 1---------------*/
  .section1__article {
    flex-basis: 265px; }
  /*---------------SECTION 2---------------*/
  .section2__article {
    flex-basis: 420px; }
  /*---------------medios de pagos---------------*/
  .section3__content, .section3__content--article {
    margin: 0rem 2rem; }
    .section3__content--article {
      width: 23% !important;
      height: auto; }
    .section3__content--article--h4 {
      font-size: 1rem; }
    .section3__content .mx-3, .section3__content--article .mx-3 {
      margin-right: 0rem !important;
      margin-left: 0rem !important; } }

@media (max-width: 768px) {
  /*----------SECTION 1 - INDEX -----------*/
  .section1 {
    margin: 0px; }
    .section1__article {
      flex-basis: 190px; }
      .section1__article--span {
        height: 35%; }
  /*----------SECTION 2-----------*/
  .section2 {
    margin: 0px; }
    .section2__article {
      flex-basis: 310px; }
  /*----------MEDIOS DE PAGO------------*/
  .section3__content, .section3__content--article {
    margin: 0rem 1rem; }
    .section3__content--article {
      width: 35% !important;
      height: auto; }
      .section3__content--article--img {
        margin-left: 0rem !important; }
      .section3__content--article .ms-3 {
        margin-left: 0.25rem !important; } }

@media (max-width: 480px) {
  /*-----------------SECTION 1----------------*/
  .section1__article {
    flex-basis: 200px; }
    .section1__article--span {
      height: auto; }
  /*-----------------SECTION 2----------------*/
  .gap-4 {
    gap: 1.5rem !important; }
  .section2__article {
    flex-basis: 350px; }
  /*-----------------MEDIOS DE PAGO----------------*/
  .mx-5 {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .section3__content--article {
    width: 45% !important;
    height: auto; }
    .section3__content--article--img {
      max-width: 45px; }
    .section3__content--article .ms-3 {
      margin-left: 0.5rem !important; }
    .section3__content--article--h4 {
      font-size: 0.75rem; } }

@media (max-width: 320px) {
  /*-----------------SECTION 1----------------*/
  .section1__article--span {
    height: auto; }
  /*-----------------SECTION 2----------------*/
  .section2__article {
    padding: 0px; }
  /*-----------------MEDIOS DE PAGO----------------*/
  .mx-4 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important; }
  .section3__content, .section3__content--article {
    margin: 0rem .5rem; }
    .section3__content--article {
      width: 100% !important;
      height: auto; }
      .section3__content--article--img {
        max-width: 40px !important; }
  .section3__content .mx-3, .section3__content--article .mx-3, .section3__content--article .mx-3 {
    margin-left: 3rem !important; } }

/*-----------------------CATALOGO HTML-----------------------*/
/*---------------GRID AREA--------------*/
#grid-container-catalogue {
  display: grid;
  grid-template-areas: "header" "h1" "h2" "section1-catalogo" "section2-catalogo" "section3-catalogo" "section4-catalogo" "section5-catalogo" "medios-de-pagos" "footer"; }

header {
  grid-area: header; }

.catalogo-h1 {
  grid-area: h1; }

.catalogo__h2-1 {
  grid-area: h2; }

#section1-catalogo {
  grid-area: section1-catalogo; }

#section2-catalogo {
  grid-area: section2-catalogo; }

#section3-catalogo {
  grid-area: section3-catalogo; }

#section4-catalogo {
  grid-area: section4-catalogo; }

#section5-catalogo {
  grid-area: section5-catalogo; }

#medios-de-pagos {
  grid-area: medios-de-pagos; }

footer {
  grid-area: footer; }

/*-----------------------BODY---------------*/
.div-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: .2rem; }

section div article div img {
  width: 100%;
  height: auto; }

.div-article__active:hover {
  transition: .5s;
  transform: scale(1.1); }

/*------------imagenes de articuloes-----------------*/
.article1__div1-img, .article2__div1-img, .article3__div1-img, .article4__div1-img {
  box-shadow: 2px 2px 4px black; }

/*------------SECTION ARTICLE------------------*/
.section1-catalogo {
  padding: auto; }
  .section1-catalogo__article {
    flex: 1 1 250px; }
    .section1-catalogo__article-1--div2, .section1-catalogo__article-2--div2, .section1-catalogo__article-3--div2, .section1-catalogo__article-4--div2 {
      background-color: #cdcccc;
      box-shadow: 2px 2px 4px black; }

/*--------------SECTION 2-----------*/
.section2-catalogo {
  padding: auto; }
  .section2-catalogo__article {
    flex: 1 1 250px; }
    .section2-catalogo__article-1--div2, .section2-catalogo__article-2--div2, .section2-catalogo__article-3--div2, .section2-catalogo__article-4--div2 {
      background-color: #cdcccc;
      box-shadow: 2px 2px 4px black; }

/*--------------SECTION 3-----------*/
.section3-catalogo {
  padding: auto; }
  .section3-catalogo__article {
    flex: 1 1 250px; }
    .section3-catalogo__article-1--div2, .section3-catalogo__article-2--div2, .section3-catalogo__article-3--div2, .section3-catalogo__article-4--div2 {
      background-color: #cdcccc;
      box-shadow: 2px 2px 4px black; }

/*--------------SECTION 4-----------*/
.section4-catalogo {
  padding: auto; }
  .section4-catalogo__article {
    flex: 1 1 250px; }
    .section4-catalogo__article-1--div2, .section4-catalogo__article-2--div2, .section4-catalogo__article-3--div2, .section4-catalogo__article-4--div2 {
      background-color: #cdcccc;
      box-shadow: 2px 2px 4px black; }

/*--------------SECTION 5-----------*/
.section5-catalogo {
  padding: auto; }
  .section5-catalogo__article {
    flex: 1 1 250px; }
    .section5-catalogo__article-1--div2, .section5-catalogo__article-2--div2, .section5-catalogo__article-3--div2, .section5-catalogo__article-4--div2 {
      background-color: #cdcccc;
      box-shadow: 2px 2px 4px black; }

/*--------------------MEDIA QUERIES-------------------*/
@media (max-width: 1920px) {
  #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo {
    margin: 0rem 15rem; } }

@media (max-width: 1440px) {
  #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo {
    margin: 0rem 7rem; } }

@media (max-width: 1366px) {
  #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo {
    margin: 0rem 5rem; } }

@media (max-width: 1024px) {
  #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo {
    margin: 0rem 2.5rem; } }

@media (max-width: 768px) {
  #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo {
    margin: 0rem 4.5rem; } }

@media (max-width: 480px) {
  #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo {
    padding: 0rem !important;
    margin: 0rem 1rem; } }

@media (max-width: 320px) {
  #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo {
    padding: 0rem .5rem !important; } }

/*-----------------------CONTACTO HTML-----------------------*/
/*---------------GRID AREA--------------*/
#grid-container-contact {
  display: grid;
  grid-template-areas: "header" "h1" "section1" "section2" "section3" "footer"; }

header {
  grid-area: header; }

.h1-contacto {
  grid-area: h1; }

#section1-contacto {
  grid-area: section1; }

#section2-contacto {
  grid-area: section2; }

#section3-contacto {
  grid-area: section3; }

footer {
  grid-area: footer; }

/*-------------SECTION2-FORM-----------------*/
.section2-contacto__article1 {
  background-color: rgba(185, 182, 182, 0.311);
  box-shadow: 2px 3px 8px 0 gray;
  margin: 0px 140px; }
  .section2-contacto__article1--form {
    background-color: #979797;
    box-shadow: 2px 3px 8px 0 #000;
    width: 50%;
    height: 100%; }
    .section2-contacto__article1--form--submit {
      width: 100%;
      height: auto;
      box-shadow: 2px 3px 8px 0 #000; }
      .section2-contacto__article1--form--submit .button-submit__active:hover {
        background-color: #cdcccc;
        color: white; }

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px) {
  .section1-contacto {
    margin: 0rem 15rem !important; }
    .section1-contacto #h1-contacto {
      font-size: 3rem; }
    .section1-contacto .section1__texto {
      font-size: 1.5rem; }
  .section2-contacto, .section3-contacto {
    margin: 0rem 15rem !important; }
  .section3-contacto {
    margin: 0rem 15rem !important; }
    .section3-contacto__article1--text1 {
      font-size: 1.5rem; } }

@media (max-width: 1440px) {
  .section1-contacto {
    margin: 0rem 7rem !important; }
    .section1-contacto #h1-contacto {
      font-size: 2.5rem; }
    .section1-contacto .section1__texto {
      font-size: 1.25rem; }
  .section2-contacto {
    margin: 0rem 7rem !important; }
  .section3-contacto {
    margin: 0rem 6rem !important; }
    .section3-contacto__article1--text1 {
      font-size: 1.25rem; } }

@media (max-width: 1366px) {
  .section1-contacto {
    margin: 0rem 3rem !important; }
  .section2-contacto {
    margin: 0rem 4rem !important; }
  .section3-contacto {
    margin: 0rem 3rem !important; } }

@media (max-width: 1024px) {
  .section1-contacto {
    margin: 0rem 2rem !important; }
    .section1-contacto #h1-contacto {
      font-size: 2.5rem; }
    .section1-contacto .section1__texto {
      text-align: justify; }
  .section2-contacto {
    margin: 0rem 0rem !important; }
    .section2-contacto__article1 {
      margin: 0rem 3.75rem; }
    .section2-contacto .p-3 {
      padding: 0.5rem !important; }
  .section3-contacto {
    margin: 0rem 2rem !important; }
    .section3-contacto__article1--text1 {
      font-size: 1.25rem; } }

@media (max-width: 768px) {
  /*------------SECTION 2------------------*/
  .section2-contacto__article1 {
    margin: 1rem 4.25rem; }
    .section2-contacto__article1--form {
      width: 70%;
      height: auto; } }

@media (max-width: 480px) {
  .section1-contacto {
    margin: 0rem .5rem !important; }
  .w-75 {
    width: 90% !important;
    height: auto; }
  .section2-contacto__article1 {
    margin: .5rem .75rem;
    padding-right: 0rem !important;
    padding-left: 0rem !important; }
    .section2-contacto__article1--form {
      width: 80%;
      height: auto; }
  .p-3 {
    padding: 1rem !important; } }

@media (max-width: 320px) {
  .section1-contacto {
    margin: 0rem 0rem !important; }
    .section1-contacto #h1-contacto {
      font-size: 2rem; }
  .section2-contacto__article1 {
    margin: 0.5rem; }
  .section3-contacto {
    margin: 0rem 0rem !important; } }

/*-----------------------AYUDA HTML-----------------------*/
/*---------------GRID AREA--------------*/
#grid-container-help {
  display: grid;
  grid-template-areas: "header" "h1" "section1" "section2" "section3" "footer"; }
  #grid-container-help header {
    grid-area: header; }
  #grid-container-help #h1-ayuda {
    grid-area: h1; }
  #grid-container-help #section1-ayuda {
    grid-area: section1; }
  #grid-container-help #section2-ayuda {
    grid-area: section2; }
  #grid-container-help #section3-ayuda {
    grid-area: section3; }
  #grid-container-help footer {
    grid-area: footer; }

/*---------------SECTION 2-FORM--------------*/
.section2-ayuda__article1 {
  background-color: rgba(185, 182, 182, 0.311);
  box-shadow: 2px 3px 8px 0 gray;
  margin: 0px 150px; }
  .section2-ayuda__article1--form {
    background-color: #979797;
    box-shadow: 2px 3px 8px 0 #000;
    width: 50%;
    height: auto; }
    .section2-ayuda__article1--form--submit {
      width: 100%;
      height: auto;
      box-shadow: 2px 3px 8px 0 #000; }
      .section2-ayuda__article1--form--submit .button-submit__active2:hover {
        background-color: #cdcccc;
        color: white; }

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px) {
  .section1-ayuda {
    margin: 0rem 15rem !important; }
    .section1-ayuda #h1-ayuda {
      font-size: 1.75rem; }
    .section1-ayuda__article1--text {
      font-size: 1.5rem;
      text-align: justify; }
  .section2-ayuda {
    margin: 0rem 15rem !important; }
  .section3-ayuda {
    margin: 0rem 15rem !important; }
    .section3-ayuda__article1--text1 {
      font-size: 1.5rem; } }

@media (max-width: 1440px) {
  .section1-ayuda {
    margin: 0rem 7rem !important; }
    .section1-ayuda #h1-ayuda {
      font-size: 1.5rem; }
    .section1-ayuda__article1--text {
      font-size: 1.25rem; }
  .section2-ayuda {
    margin: 0rem 6rem !important; }
  .section3-ayuda {
    margin: 0rem 7rem !important; }
    .section3-ayuda__article1--text1 {
      font-size: 1.25rem; } }

@media (max-width: 1366px) {
  .section1-ayuda {
    margin: 0rem 3rem !important; }
  .section2-ayuda {
    margin: 0rem 4rem !important; }
  .section3-ayuda {
    margin: 0rem 3rem !important; } }

@media (max-width: 1024px) {
  .section1-ayuda {
    margin: 0rem 2rem !important; }
    .section1-ayuda #h1-ayuda {
      font-size: 2.5rem; }
    .section1-ayuda .section1__texto {
      text-align: justify; }
  .section2-ayuda {
    margin: 0rem 0rem !important; }
    .section2-ayuda__article1 {
      margin: 0rem 3.75rem; }
    .section2-ayuda .p-3 {
      padding: 0.5rem !important; }
  .section3-ayuda {
    margin: 0rem 2rem !important; }
    .section3-ayuda__article1--text1 {
      font-size: 1.25rem; } }

@media (max-width: 768px) {
  /*------------SECTION 2------------------*/
  .section2-ayuda__article1--form {
    width: 80%;
    height: auto; } }

@media (max-width: 480px) {
  .section1-ayuda {
    margin: 0rem .5rem !important; }
  .section2-ayuda__article1 {
    margin: 0rem .5rem; }
    .section2-ayuda__article1--form {
      width: 90%;
      height: auto; } }

@media (max-width: 320px) {
  #h1-ayuda {
    font-size: 2rem; }
  .section2-ayuda__article1 {
    margin: 10px 15px;
    padding-left: 0px !important;
    padding-right: 0px !important; } }

/*-----------------------DONDE ESTAMOS HTML-----------------------*/
/*---------------GRID AREA--------------*/
#grid-container_dondeEstamos {
  display: grid;
  grid-template-areas: "header" "h1" "section1" "footer"; }
  #grid-container_dondeEstamos header {
    grid-area: header; }
  #grid-container_dondeEstamos #h1-ubicacion {
    grid-area: h1; }
  #grid-container_dondeEstamos #section1-maps {
    grid-area: section1; }
  #grid-container_dondeEstamos footer {
    grid-area: footer; }

/*---------------SECTION 1--------------*/
.section1-maps__link {
  width: 70vw;
  height: 80vh;
  box-shadow: 2px 2px 4px black; }

.section1-maps__text {
  background-color: lightgray !important; }
  .section1-maps__text--li {
    font-size: 2rem;
    color: black; }

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px) {
  .section1-maps {
    margin: 2.5rem 12rem; }
    .section1-maps__link {
      width: 50vw;
      height: 70vh; } }

@media (max-width: 1440px) {
  .section1-maps__link {
    width: 60vw;
    height: 70vh; } }

@media (max-width: 1024px) {
  .section1-maps {
    margin: 1.5rem 8rem; }
    .section1-maps__link {
      width: 70vw;
      height: 70vh; }
    .section1-maps__text--li {
      font-size: 1.25rem; } }

@media (max-width: 768px) {
  .section1-maps {
    margin: 0.5rem 1rem; }
    .section1-maps__link {
      width: 80vw;
      height: 70vh; }
    .section1-maps__text--li {
      font-size: 1rem; } }

@media (max-width: 480px) {
  /*------------SECTION 1------------------*/
  .section1-maps {
    margin: 0rem .5rem; }
    .section1-maps__text--li {
      font-size: 1rem; }
    .section1-maps__link {
      width: 90vw;
      height: 50vh; } }

@media (max-width: 320px) {
  /*------------H1------------------*/
  #h1-ubicacion {
    font-size: 1.25rem; }
  /*------------SECTION 1------------------*/
  .section1-maps {
    margin: 0rem 0rem; }
    .section1-maps__link {
      width: 85vw;
      height: 40vh; }
    .section1-maps__text {
      margin: 0.5rem; }
      .section1-maps__text--li {
        font-size: 1rem;
        text-align: center; } }

/*--------------TERMINOS Y CONDICIONES--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-conditions {
  display: grid;
  grid-template-areas: "header" "section1" "footer"; }
  #grid-container-conditions header {
    grid-area: header; }
  #grid-container-conditions #section-terminos {
    grid-area: section1; }
  #grid-container-conditions footer {
    grid-area: footer; }

/*--------------SECTION 1--------------*/
.section-terminos {
  background-color: rgba(185, 182, 182, 0.427);
  box-shadow: 2px 2px 4px 0 #646464; }
  .section-terminos__article--text--h3 {
    font-size: 2rem; }
  .section-terminos__article--text--p {
    line-height: 1.5;
    text-align: justify; }

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px) {
  .section-terminos {
    margin: 1.25rem 21rem; }
    .section-terminos__h1 {
      font-size: 2rem; }
    .section-terminos__article--text--h3 {
      font-size: 1.5rem; }
    .section-terminos__article--text--p {
      font-size: 1.25rem; } }

@media (max-width: 1440px) {
  .section-terminos {
    margin: 1.25rem 12rem; }
    .section-terminos__h1 {
      font-size: 2rem; }
    .section-terminos__article--text--h3 {
      font-size: 1.25rem; }
    .section-terminos__article--text--p {
      font-size: 1rem; } }

@media (max-width: 1366px) {
  .section-terminos {
    margin: 1.25rem 7rem; } }

@media (max-width: 1024px) {
  .section-terminos {
    margin: 1.25rem 5rem; }
    .section-terminos__h1 {
      font-size: 2rem; }
    .section-terminos__article--text--h3 {
      font-size: 1.25rem; }
    .section-terminos__article--text--p {
      font-size: 1rem; } }

@media (max-width: 768px) {
  .section-terminos {
    margin: 1.25rem 2rem; } }

@media (max-width: 480px) {
  .section-terminos {
    margin: 1.25rem .5rem; }
    .section-terminos__h1 {
      font-size: 2rem; }
    .section-terminos__article--text--h3 {
      font-size: 1.25rem; }
    .section-terminos__article--text--p {
      font-size: 1rem; } }

@media (max-width: 320px) {
  .section-terminos {
    margin: 1rem 0.5rem; }
    .section-terminos__h1 {
      font-size: 1rem; }
    .section-terminos__article--text--h3 {
      font-size: 1rem; }
    .section-terminos__article--text--p {
      font-size: 0.75rem; } }

/*--------------POLITICA DE PROVACIDAD--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-policies {
  display: grid;
  grid-template-areas: "header" "section1" "footer"; }
  #grid-container-policies header {
    grid-area: header; }
  #grid-container-policies #section-privacity {
    grid-area: section1; }
  #grid-container-policies footer {
    grid-area: footer; }

/*--------------SECTION 1--------------*/
.section-privacity {
  background-color: rgba(185, 182, 182, 0.427);
  box-shadow: 2px 2px 4px 0 #646464; }
  .section-privacity__h1 {
    font-size: 2.5rem; }
  .section-privacity__article--text--p {
    line-height: 1.5;
    text-align: justify; }

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px) {
  .section-privacity {
    margin: 1.25rem 21rem; }
    .section-privacity__h1 {
      font-size: 2rem; }
    .section-privacity__article--text--h3 {
      font-size: 1.5rem; }
    .section-privacity__article--text--p {
      font-size: 1.25rem; } }

@media (max-width: 1440px) {
  .section-privacity {
    margin: 1.25rem 12rem; }
    .section-privacity__h1 {
      font-size: 2rem; }
    .section-privacity__article--text--h3 {
      font-size: 1.25rem; }
    .section-privacity__article--text--p {
      font-size: 1rem; } }

@media (max-width: 1366px) {
  .section-privacity {
    margin: 1.25rem 7rem; } }

@media (max-width: 1024px) {
  .section-privacity {
    margin: 1.25rem 5rem; }
    .section-privacity__h1 {
      font-size: 2rem; }
    .section-privacity__article--text--h3 {
      font-size: 1.25rem; }
    .section-privacity__article--text--p {
      font-size: 1rem; } }

@media (max-width: 768px) {
  .section-privacity {
    margin: 1.25rem 3rem; } }

@media (max-width: 480px) {
  .section-privacity {
    margin: 1rem 0.5rem; }
    .section-privacity__h1 {
      font-size: 2rem; }
    .section-privacity__article--text--h3 {
      font-size: 1.25rem; }
    .section-privacity__article--text--p {
      font-size: 1rem; } }

@media (max-width: 320px) {
  .section-privacity {
    margin: 1rem 0rem; }
    .section-privacity__h1 {
      font-size: 1rem; }
    .section-privacity__article--text--h3 {
      font-size: 0.75rem; }
    .section-privacity__article--text--p {
      font-size: 0.75rem; } }

/*--------------DEFENSA AL CONSUMIDOR--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-defenseConsumer {
  display: grid;
  grid-template-areas: "header" "section1" "footer"; }
  #grid-container-defenseConsumer header {
    grid-area: header; }
  #grid-container-defenseConsumer #section-defensaConsumidor {
    grid-area: section1; }
  #grid-container-defenseConsumer footer {
    grid-area: footer; }

/*---------------SECTION 1--------------*/
.section-defensaConsumidor {
  background-color: rgba(185, 182, 182, 0.427);
  box-shadow: 2px 2px 4px 0 #646464;
  margin: 1.25rem 3.5rem; }
  .section-defensaConsumidor__h1 {
    font-size: 2rem; }

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px) {
  .section-defensaConsumidor {
    margin: 1.25rem 20rem; }
    .section-defensaConsumidor__h1 {
      font-size: 2.5rem; }
    .section-defensaConsumidor__article--text--h2 {
      font-size: 1.5rem; }
    .section-defensaConsumidor__article--text--p {
      font-size: 1rem;
      text-align: justify; } }

@media (max-width: 1440px) {
  .section-defensaConsumidor {
    margin: 1.25rem 8rem; } }

@media (max-width: 1366px) {
  .section-defensaConsumidor {
    margin: 1.25rem 5rem; } }

@media (max-width: 1024px) {
  .section-defensaConsumidor {
    margin: 1.25rem 4rem; } }

@media (max-width: 768px) {
  .section-defensaConsumidor {
    margin: 1.25rem 2rem; } }

@media (max-width: 480px) {
  .section-defensaConsumidor {
    margin: 1rem 0.5rem; }
    .section-defensaConsumidor__h1 {
      font-size: 2.5rem; } }

/*--------------PAGOS Y DEVOLUVIONES--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-payments {
  display: grid;
  grid-template-areas: "header" "section1" "section2" "footer"; }
  #grid-container-payments header {
    grid-area: header; }
  #grid-container-payments #section1-payments {
    grid-area: section1; }
  #grid-container-payments #section2-payments {
    grid-area: section2; }
  #grid-container-payments footer {
    grid-area: footer; }

/*---------------SECTION 1--------------*/
.section1-payments__h1 {
  font-size: 2rem; }

.section1-payments__article1--h2, .section1-payments__article2--h2 {
  font-size: 1.5rem; }

.section1-payments__article1--img, .section1-payments__article2--img {
  box-shadow: 2px 2px 4px black; }

/*------------SECTION 2---------------*/
.section2-payments {
  background-color: rgba(185, 182, 182, 0.427);
  box-shadow: 2px 2px 4px 0 #646464; }
  .section2-payments__article--h2 {
    font-size: 2rem; }
  .section2-payments__article--text {
    text-align: justify;
    line-height: 1.5; }

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px) {
  /*------------SECTION 1------------------*/
  .section1-payments__h1 {
    font-size: 2.5rem; }
  .section1-payments__article2--h2, .section1-payments__article1--h2 {
    font-size: 1.75rem; }
  /*------------SECTION 2------------------*/
  .section2-payments {
    margin: 1.25rem 20rem; }
    .section2-payments__article--h2 {
      font-size: 1.75rem; }
    .section2-payments__article--text {
      font-size: 1rem; } }

@media (max-width: 1440px) {
  .section2-payments {
    margin: 1.25rem 8rem; } }

@media (max-width: 1366px) {
  .section2-payments {
    margin: 1.25rem 5rem; } }

@media (max-width: 1024px) {
  .section2-payments {
    margin: 1.25rem 3rem; } }

@media (max-width: 768px) {
  .section2-payments {
    margin: 1.25rem 2rem; } }

@media (max-width: 480px) {
  /*------------SECTION 1------------------*/
  .section1-payments__h1 {
    font-size: 2rem; }
  .section1-payments__article2--h2, .section1-payments__article1--h2 {
    font-size: 1.5rem; }
  .section1-payments__article1--img, .section1-payments__article2--img {
    width: 80%;
    height: auto; }
  /*------------SECTION 2------------------*/
  .section2-payments {
    margin: 1rem 0.5rem; }
    .section2-payments-text {
      margin: 1.25rem 2rem;
      padding: 0.5rem !important; }
      .section2-payments-text__article--h2 {
        font-size: 1.5rem; }
      .section2-payments-text__article--text {
        font-size: 1rem; } }

@media (max-width: 320px) {
  /*------------SECTION 1------------------*/
  .section1-payments__h1 {
    font-size: 1.75rem; }
  /*------------SECTION 2------------------*/
  .section2-payments {
    margin: 0.5rem; }
    .section2-payments__article--h2 {
      font-size: 1.5rem; }
    .section2-payments__article--text {
      font-size: 0.75rem; } }

/*--------------ENVIOS-------------------*/
/*---------------GRID AREA--------------*/
#grid-container-shipments {
  display: grid;
  grid-template-areas: "header" "section1" "footer"; }
  #grid-container-shipments header {
    grid-area: header; }
  #grid-container-shipments #section-shipments {
    grid-area: section1; }
  #grid-container-shipments footer {
    grid-area: footer; }

/*------------SECTION 1------------------*/
.section-shipments {
  background-color: rgba(185, 182, 182, 0.427);
  box-shadow: 2px 2px 4px 0 #646464; }
  .section-shipments__article--h1 {
    font-size: 2rem; }
  .section-shipments__article--text {
    text-align: justify;
    line-height: 1.5; }

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px) {
  .section-shipments {
    margin: 1.25rem 20rem; }
    .section-shipments__article--h1 {
      font-size: 2rem; }
    .section-shipments__article--text {
      font-size: 1rem; } }

@media (max-width: 1440px) {
  .section-shipments {
    margin: 1.25rem 10rem; } }

@media (max-width: 1366px) {
  .section-shipments {
    margin: 1.25rem 7rem; } }

@media (max-width: 1024px) {
  .section-shipments {
    margin: 1.25rem 5rem; } }

@media (max-width: 768px) {
  .section-shipments {
    margin: 1.25rem 2rem; } }

@media (max-width: 480px) {
  /*------------SECTION 1------------------*/
  .section-shipments {
    margin: 1.25rem .5rem; }
    .section-shipments__article--h1 {
      font-size: 1.75rem; }
    .section-shipments__article--text {
      font-size: 0.75rem; } }

@media (max-width: 320px) {
  /*------------SECTION 1------------------*/
  .section-shipments {
    margin: 1rem; } }

/*---------------------CARRITO------------------------*/
/*-------------------MEDIA QUERIES---------------------*/
.gird-container-sitemap {
  display: grid;
  grid-template-areas: "header-1" "section-sitemap" "footer"; }
  .gird-container-sitemap header {
    grid-area: header-1; }
  .gird-container-sitemap .section-sitemap {
    grid-area: section-sitemap; }
  .gird-container-sitemap footer {
    grid-area: footer; }

.section-sitemap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: .2rem;
  background-color: rgba(240, 240, 240, 0.811);
  box-shadow: 2px 2px 4px black; }
  .section-sitemap__h1 {
    font-size: 2rem; }
  .section-sitemap__article--div--h2 {
    font-size: 1.5rem; }

@media (max-width: 1920px) {
  .section-sitemap {
    margin: 1.25rem 20rem; }
    .section-sitemap__h1 {
      font-size: 1.75rem; }
    .section-sitemap__article--div--h2 {
      font-size: 1.5rem; }
    .section-sitemap__pages--li {
      font-size: 1rem; } }

@media (max-width: 1440px) {
  .section-sitemap {
    margin: 1.25rem 10rem; } }

@media (max-width: 1366px) {
  .section-sitemap {
    margin: 1.25rem 7rem; } }

@media (max-width: 1024px) {
  .section-sitemap {
    margin: 1.25rem 5rem; } }

@media (max-width: 768px) {
  .section-sitemap {
    margin: 1.25rem 2rem; } }

@media (max-width: 480px) {
  .section-sitemap {
    margin: 1.25rem .5rem; }
    .section-sitemap__h1 {
      font-size: 1.5rem; }
    .section-sitemap__article--div--h2 {
      font-size: 1.25rem; }
    .section-sitemap__pages--li {
      font-size: 0.75rem; } }

/*---------------PRODUCTS----------------*/
/*---------------------hk-usp------------*/
#grid-container-product-hk-usp {
  display: grid;
  grid-template-areas: "header" "section1-hk-usp" "section2-hk-usp" "footer"; }
  #grid-container-product-hk-usp header {
    grid-area: header; }
  #grid-container-product-hk-usp #section1-hk-usp {
    grid-area: section1-hk-usp; }
  #grid-container-product-hk-usp #section2-hk-usp {
    grid-area: section2-hk-usp; }
  #grid-container-product-hk-usp #footer {
    grid-area: footer; }

/*---------------------AREAS------------*/
.section1-hk-usp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); }
  .section1-hk-usp__info {
    background-color: #dddddd !important; }
    .section1-hk-usp__info .buy-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }
    .section1-hk-usp__info .shipping-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }

/*-----------------SECTION 1------------*/
.section2-hk-usp__container-decription--text--div1--ul--li {
  background-color: #dddddd !important; }

/*--------------------MEDIAS QUEARY------------*/
@media (max-width: 1920px) {
  .section1-hk-usp {
    margin: 1.5rem 20rem; }
  .section2-hk-usp {
    margin: 1.5rem 20rem; }
    .section2-hk-usp__container-decription--text--h2, .section2-hk-usp__container-decription--text--div2--h2 {
      font-size: 2rem; }
    .section2-hk-usp__container-decription--text--div2--p {
      font-size: 1.25rem;
      text-align: justify; }
    .section2-hk-usp__container-decription--text--div1--ul {
      font-size: 1.25rem; } }

@media (max-width: 1440px) {
  .section1-hk-usp, .section2-hk-usp {
    margin: 1.5rem 12rem; } }

@media (max-width: 1366px) {
  .section1-hk-usp, .section2-hk-usp {
    margin: 1.5rem 8rem; } }

@media (max-width: 1024px) {
  .section1-hk-usp, .section2-hk-usp {
    margin: 1.5rem 5rem; } }

@media (max-width: 768px) {
  .section1-hk-usp {
    margin: 1.25rem 2rem; }
  .section2-hk-usp {
    margin: 1.25rem 2rem; }
    .section2-hk-usp__container-decription--text--h2, .section2-hk-usp__container-decription--text--div2--h2 {
      font-size: 1.75rem; }
    .section2-hk-usp__container-decription--text--div2--p {
      font-size: 1rem; }
    .section2-hk-usp__container-decription--text--div1--ul {
      font-size: 1rem; } }

@media (max-width: 480px) {
  .section1-hk-usp {
    margin: 1.25rem .5rem; }
    .section1-hk-usp__article {
      display: flex;
      flex-wrap: wrap; }
  .section2-hk-usp {
    margin: 1.25rem .5rem; }
    .section2-hk-usp__container-decription--text--h2, .section2-hk-usp__container-decription--text--div2--h2 {
      font-size: 1.5rem; }
    .section2-hk-usp__container-decription--text--div2--p {
      font-size: 0.75rem; }
    .section2-hk-usp__container-decription--text--div1--ul {
      font-size: 0.75rem; }
    .section2-hk-usp .p-3 {
      padding: 0.5rem !important; }
    .section2-hk-usp .p-2 {
      padding: 0.25rem !important; } }

@media (max-width: 320px) {
  .section1-hk-usp {
    margin: 1rem .5rem; }
  .section2-hk-usp {
    margin: 1rem .5rem; } }

/*---------------------MP-5------------*/
#grid-container-product-mp-5 {
  display: grid;
  grid-template-areas: "header" "section1-mp-5" "section2-mp-5" "footer"; }
  #grid-container-product-mp-5 header {
    grid-area: header; }
  #grid-container-product-mp-5 #section1-mp-5 {
    grid-area: section1-mp-5; }
  #grid-container-product-mp-5 #section2-mp-5 {
    grid-area: section2-mp-5; }
  #grid-container-product-mp-5 #footer {
    grid-area: footer; }

/*--------------------AREAS------------*/
.section1-mp-5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); }
  .section1-mp-5__div-info {
    background-color: #dddddd !important; }
    .section1-mp-5__div-info .buy-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }
    .section1-mp-5__div-info .shipping-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }

.section2-mp-5__container-decription--text--div1--ul--li {
  background-color: #dddddd !important; }

/*-------media queries----------*/
@media (max-width: 1920px) {
  .section1-mp-5 {
    margin: 1.5rem 20rem; }
  .section2-mp-5 {
    margin: 1.5rem 20rem; }
    .section2-mp-5__container-decription--text--h2, .section2-mp-5__container-decription--text--div2--h2 {
      font-size: 2rem; }
    .section2-mp-5__container-decription--text--div2--p {
      font-size: 1.25rem;
      text-align: justify; }
    .section2-mp-5__container-decription--text--div1--ul {
      font-size: 1.25rem; } }

@media (max-width: 1440px) {
  .section1-mp-5, .section2-mp-5 {
    margin: 1.5rem 12rem; } }

@media (max-width: 1366px) {
  .section1-mp-5, .section2-mp-5 {
    margin: 1.5rem 8rem; } }

@media (max-width: 1024px) {
  .section1-mp-5, .section2-mp-5 {
    margin: 1.5rem 5rem; } }

@media (max-width: 768px) {
  .section1-mp-5 {
    margin: 1.25rem 2rem; }
  .section2-mp-5 {
    margin: 1.25rem 2rem; }
    .section2-mp-5__container-decription--text--h2, .section2-mp-5__container-decription--text--div2--h2 {
      font-size: 1.75rem; }
    .section2-mp-5__container-decription--text--div2--p {
      font-size: 1rem; }
    .section2-mp-5__container-decription--text--div1--ul {
      font-size: 1rem; } }

@media (max-width: 480px) {
  .section1-mp-5 {
    margin: 1.25rem .5rem; }
    .section1-mp-5__article {
      display: flex;
      flex-wrap: wrap; }
  .section2-mp-5 {
    margin: 1.25rem .5rem; }
    .section2-mp-5__container-decription--text--h2, .section2-mp-5__container-decription--text--div2--h2 {
      font-size: 1.5rem; }
    .section2-mp-5__container-decription--text--div2--p {
      font-size: 0.75rem; }
    .section2-mp-5__container-decription--text--div1--ul {
      font-size: 0.75rem; }
    .section2-mp-5 .p-3 {
      padding: 0.5rem !important; }
    .section2-mp-5 .p-2 {
      padding: 0.25rem !important; } }

@media (max-width: 320px) {
  .section1-mp-5 {
    margin: 1rem .5rem; }
  .section2-mp-5 {
    margin: 1rem .5rem; } }

/*---------------------AR-15------------*/
#grid-container-product-AR-15 {
  display: grid;
  grid-template-areas: "header" "section1-AR-15" "section2-AR-15" "footer"; }
  #grid-container-product-AR-15 header {
    grid-area: header; }
  #grid-container-product-AR-15 #section1-AR-15 {
    grid-area: section1-AR-15; }
  #grid-container-product-AR-15 #section2-AR-15 {
    grid-area: section2-AR-15; }
  #grid-container-product-AR-15 #footer {
    grid-area: footer; }

/*--------------------AREAS------------*/
.section1-AR-15 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); }
  .section1-AR-15__div-info {
    background-color: #dddddd !important; }
    .section1-AR-15__div-info .buy-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }
    .section1-AR-15__div-info .shipping-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }

.section2-AR-15__container-decription--text--div1--ul--li {
  background-color: #dddddd !important; }

/*-------media queries----------*/
@media (max-width: 1920px) {
  .section1-AR-15 {
    margin: 1.5rem 20rem; }
  .section2-AR-15 {
    margin: 1.5rem 20rem; }
    .section2-AR-15__container-decription--text--h2, .section2-AR-15__container-decription--text--div2--h2 {
      font-size: 2rem; }
    .section2-AR-15__container-decription--text--div2--p {
      font-size: 1.25rem;
      text-align: justify; }
    .section2-AR-15__container-decription--text--div1--ul {
      font-size: 1.25rem; } }

@media (max-width: 1440px) {
  .section1-AR-15, .section2-AR-15 {
    margin: 1.5rem 12rem; } }

@media (max-width: 1366px) {
  .section1-AR-15, .section2-AR-15 {
    margin: 1.5rem 8rem; } }

@media (max-width: 1024px) {
  .section1-AR-15, .section2-AR-15 {
    margin: 1.5rem 5rem; } }

@media (max-width: 768px) {
  .section1-AR-15 {
    margin: 1.25rem 2rem; }
  .section2-AR-15 {
    margin: 1.25rem 2rem; }
    .section2-AR-15__container-decription--text--h2, .section2-AR-15__container-decription--text--div2--h2 {
      font-size: 1.75rem; }
    .section2-AR-15__container-decription--text--div2--p {
      font-size: 1rem; }
    .section2-AR-15__container-decription--text--div1--ul {
      font-size: 1rem; } }

@media (max-width: 480px) {
  .section1-AR-15 {
    margin: 1.25rem .5rem; }
    .section1-AR-15__article {
      display: flex;
      flex-wrap: wrap; }
  .section2-AR-15 {
    margin: 1.25rem .5rem; }
    .section2-AR-15__container-decription--text--h2, .section2-AR-15__container-decription--text--div2--h2 {
      font-size: 1.5rem; }
    .section2-AR-15__container-decription--text--div2--p {
      font-size: 0.75rem; }
    .section2-AR-15__container-decription--text--div1--ul {
      font-size: 0.75rem; }
    .section2-AR-15 .p-3 {
      padding: 0.5rem !important; }
    .section2-AR-15 .p-2 {
      padding: 0.25rem !important; } }

@media (max-width: 320px) {
  .section1-AR-15 {
    margin: 1rem .5rem; }
  .section2-AR-15 {
    margin: 1rem .5rem; } }

/*---------------------M-249------------*/
#grid-container-product-M-249 {
  display: grid;
  grid-template-areas: "header" "section1-M-249" "section2-M-249" "footer"; }
  #grid-container-product-M-249 header {
    grid-area: header; }
  #grid-container-product-M-249 #section1-M-249 {
    grid-area: section1-M-249; }
  #grid-container-product-M-249 #section2-M-249 {
    grid-area: section2-M-249; }
  #grid-container-product-M-249 #footer {
    grid-area: footer; }

/*--------------------AREAS------------*/
.section1-M-249 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); }
  .section1-M-249__div-info {
    background-color: #dddddd !important; }
    .section1-M-249__div-info .buy-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }
    .section1-M-249__div-info .shipping-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }

.section2-M-249__container-decription--text--div1--ul--li {
  background-color: #dddddd !important; }

/*-------media queries----------*/
@media (max-width: 1920px) {
  .section1-M-249 {
    margin: 1.5rem 20rem; }
  .section2-M-249 {
    margin: 1.5rem 20rem; }
    .section2-M-249__container-decription--text--h2, .section2-M-249__container-decription--text--div2--h2 {
      font-size: 2rem; }
    .section2-M-249__container-decription--text--div2--p {
      font-size: 1.25rem;
      text-align: justify; }
    .section2-M-249__container-decription--text--div1--ul {
      font-size: 1.25rem; } }

@media (max-width: 1440px) {
  .section1-M-249, .section2-M-249 {
    margin: 1.5rem 12rem; } }

@media (max-width: 1366px) {
  .section1-M-249, .section2-M-249 {
    margin: 1.5rem 8rem; } }

@media (max-width: 1024px) {
  .section1-M-249, .section2-M-249 {
    margin: 1.5rem 5rem; } }

@media (max-width: 768px) {
  .section1-M-249 {
    margin: 1.25rem 2rem; }
  .section2-M-249 {
    margin: 1.25rem 2rem; }
    .section2-M-249__container-decription--text--h2, .section2-M-249__container-decription--text--div2--h2 {
      font-size: 1.75rem; }
    .section2-M-249__container-decription--text--div2--p {
      font-size: 1rem; }
    .section2-M-249__container-decription--text--div1--ul {
      font-size: 1rem; } }

@media (max-width: 480px) {
  .section1-M-249 {
    margin: 1.25rem .5rem; }
    .section1-M-249__article {
      display: flex;
      flex-wrap: wrap; }
  .section2-M-249 {
    margin: 1.25rem .5rem; }
    .section2-M-249__container-decription--text--h2, .section2-M-249__container-decription--text--div2--h2 {
      font-size: 1.5rem; }
    .section2-M-249__container-decription--text--div2--p {
      font-size: 0.75rem; }
    .section2-M-249__container-decription--text--div1--ul {
      font-size: 0.75rem; }
    .section2-M-249 .p-3 {
      padding: 0.5rem !important; }
    .section2-M-249 .p-2 {
      padding: 0.25rem !important; } }

@media (max-width: 320px) {
  .section1-M-249 {
    margin: 1rem .5rem; }
  .section2-M-249 {
    margin: 1rem .5rem; } }

/*---------------------AKKAR-TACTICAL------------*/
#grid-container-product-akkar {
  display: grid;
  grid-template-areas: "header" "section1-akkar" "section2-akkar" "footer"; }
  #grid-container-product-akkar header {
    grid-area: header; }
  #grid-container-product-akkar #section1-akkar {
    grid-area: section1-akkar; }
  #grid-container-product-akkar #section2-akkar {
    grid-area: section2-akkar; }
  #grid-container-product-akkar #footer {
    grid-area: footer; }

/*--------------------AREAS------------*/
.section1-akkar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 25px 80px; }
  .section1-akkar__div-info {
    background-color: #dddddd !important; }
    .section1-akkar__div-info .buy-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }
    .section1-akkar__div-info .shipping-product:hover {
      background-color: #9f9f9f;
      transition: 0.5s; }

.section2-akkar__container-decription--text--div1--ul--li {
  background-color: #dddddd !important; }

/*-------media queries----------*/
@media (max-width: 1920px) {
  .section1-akkar {
    margin: 1.5rem 20rem; }
  .section2-akkar {
    margin: 1.5rem 20rem; }
    .section2-akkar__container-decription--text--h2, .section2-akkar__container-decription--text--div2--h2 {
      font-size: 2rem; }
    .section2-akkar__container-decription--text--div2--p {
      font-size: 1.25rem;
      text-align: justify; }
    .section2-akkar__container-decription--text--div1--ul {
      font-size: 1.25rem; } }

@media (max-width: 1440px) {
  .section1-akkar, .section2-akkar {
    margin: 1.5rem 12rem; } }

@media (max-width: 1366px) {
  .section1-akkar, .section2-akkar {
    margin: 1.5rem 8rem; } }

@media (max-width: 1024px) {
  .section1-akkar, .section2-akkar {
    margin: 1.5rem 5rem; } }

@media (max-width: 768px) {
  .section1-akkar {
    margin: 1.25rem 2rem; }
  .section2-akkar {
    margin: 1.25rem 2rem; }
    .section2-akkar__container-decription--text--h2, .section2-akkar__container-decription--text--div2--h2 {
      font-size: 1.75rem; }
    .section2-akkar__container-decription--text--div2--p {
      font-size: 1rem; }
    .section2-akkar__container-decription--text--div1--ul {
      font-size: 1rem; } }

@media (max-width: 480px) {
  .section1-akkar {
    margin: 1.25rem .5rem; }
    .section1-akkar__article {
      display: flex;
      flex-wrap: wrap; }
  .section2-akkar {
    margin: 1.25rem .5rem; }
    .section2-akkar__container-decription--text--h2, .section2-akkar__container-decription--text--div2--h2 {
      font-size: 1.5rem; }
    .section2-akkar__container-decription--text--div2--p {
      font-size: 0.75rem; }
    .section2-akkar__container-decription--text--div1--ul {
      font-size: 0.75rem; }
    .section2-akkar .p-3 {
      padding: 0.5rem !important; }
    .section2-akkar .p-2 {
      padding: 0.25rem !important; } }

@media (max-width: 320px) {
  .section1-akkar {
    margin: 1rem .5rem; }
  .section2-akkar {
    margin: 1rem .5rem; } }
