/*----------VARIABLES------------*/
$font-size:(
    txt-xxl: 3rem,
    txt-xsl: 2.75rem, 
    txt-xl: 2.5rem,
    txt-lg: 2rem,
    txt-xlg: 1.75rem,
    txt-md: 1.5rem,
    txt-xmd:1.25rem,
    txt-sm: 1rem,
    txt-xsm: 0.75rem,
    txt-xs: .5rem,
)

