
 /*---------------FOOTER---------------*/
footer{
    background: linear-gradient(180deg, rgba(223,223,223,1) 5%, rgba(138,137,137,1) 46%, rgba(88,88,92,1) 80%);
}
.footer{
    padding: 0px;
    margin: 0px 10px;
}

@media (max-width: 768px){
    footer{
        font-size: map-get($font-size, txt-sm);
        margin: 10px;

        .footer__icon-instagram{
            @include size(75%, auto);        
        }
    }
}

@media (max-width: 320px){
    footer {
        font-size: map-get($font-size, txt-xs);
        padding: 15px;
        margin: 10px 0px;
    }
}  
