/*-----HEADER  FLEX - HTML-------*/
header{
    background: linear-gradient(30deg, rgba(223,223,223,1) 0%, rgba(157,157,157,1) 24%, rgba(124,124,128,1) 49%, rgba(48,48,49,1) 79%, rgba(0,0,0,1) 100%);

    .header__section1--img-1{
        box-shadow: 2px 2px 4px black;
    }  
    
    /*----------NAV-----------------*/
    .navbar-nav{
        font-size: map-get($font-size, txt-sm);

        .nav-link{
            transition: 0.5s;
    
            &:hover{
                transform: scale(1.05);
            }
        }
    }

    .active{
        border: 2px solid black;
        box-shadow: 1px 1px 4px white;
        transform: scale(1.05);
    }
}
/*-----------------MEDIA QUERIES----------------*/
@media (max-width: 1920px){ 
    .navbar-nav{
        margin-right: 20rem;
    }
}

@media (max-width: 1440px){ 
    .navbar-nav{
        margin-right: 5rem;
    }
}

@media (max-width: 1366px){ 
    .navbar-nav{
        margin-right: 4rem;
    }
}

@media (max-width: 1024px){ 
    .navbar-nav{
        margin: 0rem 1rem;
    }
}           