/*---------------------hk-usp------------*/
/*---------------------AREAS------------*/
#grid-container-product-hk-usp{
    display: grid;
    grid-template-areas: 
    "header"
    "section1-hk-usp"
    "section2-hk-usp"
    "footer";

    header{
        grid-area: header;
    }
    #section1-hk-usp{
        grid-area: section1-hk-usp;
    }
    #section2-hk-usp{
        grid-area: section2-hk-usp;
    }
    #footer{
        grid-area: footer;
    }
}

/*---------------------section 1------------*/
.section1-hk-usp{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    max-width: 1200px;

    &__product--price{
        background-color: rgb(221, 221, 221)!important;

        &--article--h1{
            font-size: map-get($font-size, txt-xlg);
        }
        &--article--h2{
            font-size: map-get($font-size, txt-md);
        }
        &--article--h3{
            font-size: map-get($font-size, txt-xmd);
        }
        
        .buy-product:hover{
            background-color: rgb(159, 159, 159);
            transition: 0.5s;
        }
        .shipping-product:hover{
            background-color: rgb(159, 159, 159);
            transition: 0.5s;
        }
    }
}
/*-----------------section 2------------*/
.section2-hk-usp{
    max-width: 1200px;

    &__container-decription--text--h2, &__container-decription--text--div2--h2{
        font-size: map-get($font-size, txt-md);
    }
    &__container-decription--text--div2--p{
        font-size: map-get($font-size, txt-sm);
        text-align: justify;
    }

    &__container-decription--text--div1--ul{
        font-size: map-get($font-size, txt-sm);

        &--li{
            background-color: rgb(221, 221, 221)!important;
        }
    }
}

/*--------------------MEDIAS QUEARY------------*/
@media (max-width: 1920px){
    .section1-hk-usp, .section2-hk-usp{
        margin: 1.5rem 22.5rem;
    }
}

@media (max-width: 1440px){
    .section1-hk-usp, .section2-hk-usp{
        margin: 1.5rem 10rem;
    }
}

@media (max-width: 1366px){
    .section1-hk-usp, .section2-hk-usp{
        margin: 1.5rem 7rem;
    }
}

@media (max-width: 1024px){
    .section1-hk-usp, .section2-hk-usp{
        margin: 1.5rem 5rem;
    }
}

@media (max-width: 768px){
    .section1-hk-usp, .section2-hk-usp{
        margin: 1.25rem 1rem;
    }
}

@media (max-width: 480px){
    .section1-hk-usp {
        margin: 1rem .75rem;

        &__article{
            display: flex;
            flex-wrap: wrap;
        }
    }

    .section2-hk-usp {
        margin: 1rem .75rem;

        &__container-decription--text--h2, &__container-decription--text--div2--h2{
            font-size: map-get($font-size, txt-xmd);
        }
        &__container-decription--text--div2--p{
            font-size: map-get($font-size, txt-xsm);
        }

        &__container-decription--text--div1--ul{
            font-size: map-get($font-size, txt-xsm);

        }

        .p-3 {
            padding: 0.5rem !important;
        }
        .p-2 {
            padding: 0.25rem!important;
        }
    }
}

@media (max-width: 320px){
    .section1-hk-usp, .section2-hk-usp {
        margin: 1rem .5rem;
    }
}