/*-----------------------AYUDA HTML-----------------------*/
/*---------------GRID AREA--------------*/
#grid-container-help{
    display: grid;
    grid-template-areas: 
    "header"
    "h1"
    "section1"
    "section2"
    "section3"
    "footer";

    header{
        grid-area: header;
    }
    #h1-ayuda{
        grid-area: h1;
    }
    #section1-ayuda{
        grid-area: section1;
    }
    #section2-ayuda{
        grid-area: section2;
    }
    #section3-ayuda{
        grid-area: section3;
    }
    footer{
        grid-area: footer;
    }
}

.h1-ayuda, .section1-ayuda, .section2-ayuda, .section3-ayuda{
    max-width: 1200px;
}
/*---------------SECTION 2-FORM--------------*/
.section2-ayuda__article1{
    @include box-style(rgba(185, 182, 182, 0.311), 2px 3px 8px 0 gray);
    margin: 0rem 9rem;

    &--form{
        @include box-style(rgb(151, 151, 151), 2px 3px 8px 0 #000);
        @include size(50%, auto);

        &--submit{
            @include size(100%, auto);
            box-shadow: 2px 3px 8px 0 #000;

            .button-submit__active2:hover{
                background-color: rgb(205, 204, 204);
                color: rgb(255, 255, 255);
            }
        }
    }
}

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px){
    #h1-ayuda{
        font-size: map-get($font-size, txt-lg);
    }

    .section1-ayuda{
        margin: 0rem 22.5rem;

        &__article1--text {
            font-size: map-get($font-size, txt-xmd);
            text-align: justify;
        }
    }

    .section2-ayuda{
        margin: 0rem 22.5rem;
    }

    .section3-ayuda{
        margin: 0rem 22.5rem;

        &__article1--text1{
            font-size: map-get($font-size, txt-xmd);
        }
    }

}

@media (max-width: 1440px){
    .section1-ayuda, .section2-ayuda, .section3-ayuda{
        margin: 0rem 7.5rem;
    }
}

@media (max-width: 1366px){
    #h1-ayuda{
        font-size: map-get($font-size, txt-md);
    }

    .section1-ayuda{
        margin: 0rem 5.5rem;

        &__article1--text {
            font-size: map-get($font-size, txt-sm);

        }
    }
    .section2-ayuda{
        margin: 0rem 5.5rem;
    }

    .section3-ayuda{
        margin: 0rem 5.5rem;

        &__article1--text1{
            font-size: map-get($font-size, txt-sm);
        }
    }
}

@media (max-width: 1024px){
    .section1-ayuda, .section3-ayuda{
        margin: 0rem 2rem;
    }

    .section2-ayuda{
        margin: 0rem 1rem;

        &__article1 {
            margin: 0rem 2.75rem;
        }
    }
}

@media (max-width: 768px){
    .section1-ayuda,.section3-ayuda{
        margin: .5rem 0rem;
    }
/*------------SECTION 2------------------*/    
    .section2-ayuda{
        margin: .5rem 0rem;

        &__article1--form {
            @include size(70%, auto);
        }
    }

}

@media (max-width: 480px){
    .section2-ayuda__article1 {
        margin: 0rem .5rem;

        &--form {
            @include size(90%, auto);
        }
    }
}
  
@media (max-width: 320px){
    .section2-ayuda__article1 {
        margin: 0rem .5rem;
        padding-left: 0rem!important;
        padding-right: 0rem!important;
    }
}

