/*-----------------------CATALOGO HTML-----------------------*/
/*---------------GRID AREA--------------*/
#grid-container-catalogue{
    display: grid;
    grid-template-areas: 
    "header"
    "h1"
    "h2"
    "section1-catalogo"
    "section2-catalogo"
    "section3-catalogo"
    "section4-catalogo"
    "section5-catalogo"
    "medios-de-pagos"
    "footer";
}
header{
    grid-area: header;
}
.catalogo-h1{
    grid-area: h1;
}
.catalogo__h2-1{
    grid-area: h2;
}
#section1-catalogo{
    grid-area: section1-catalogo;
}
#section2-catalogo{
    grid-area: section2-catalogo;
}
#section3-catalogo{
    grid-area: section3-catalogo;
}
#section4-catalogo{
    grid-area: section4-catalogo;
}
#section5-catalogo{
    grid-area: section5-catalogo;
}
#medios-de-pagos{
    grid-area: medios-de-pagos;
}
footer{
    grid-area: footer;
}

/*-----------------------BODY---------------*/
.div-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: .2rem;
}
section div article div img{
    @include size(100%, auto);
    
}
.div-article__active:hover{
    transition: .5s;
    transform: scale(1.1);
}
/*------------imagenes de articuloes-----------------*/
.article1__div1-img, .article2__div1-img, .article3__div1-img, .article4__div1-img{
    box-shadow: 2px 2px 4px black; 
}
/*------------SECTION ARTICLE------------------*/
.section1-catalogo{
    max-width: 1200px;

    &__article{
        flex: 1 1 250px;

        &-1--div2, &-2--div2, &-3--div2, &-4--div2{
            @include box-style(rgb(205, 204, 204), 2px 2px 4px black)
        }
    }
}


/*--------------SECTION 2-----------*/
.section2-catalogo{
    max-width: 1200px;

    &__article{
        flex: 1 1 250px;
    
        &-1--div2, &-2--div2, &-3--div2, &-4--div2{
            @include box-style(rgb(205, 204, 204), 2px 2px 4px black)
        }
    }
}


/*--------------SECTION 3-----------*/
.section3-catalogo{
    max-width: 1200px;

    &__article{
        flex: 1 1 250px;
    
        &-1--div2, &-2--div2, &-3--div2, &-4--div2{
            @include box-style(rgb(205, 204, 204), 2px 2px 4px black)
        }
    }
}


/*--------------SECTION 4-----------*/
.section4-catalogo{
    max-width: 1200px;

    &__article{
        flex: 1 1 250px;
    
        &-1--div2, &-2--div2, &-3--div2, &-4--div2{
            @include box-style(rgb(205, 204, 204), 2px 2px 4px black)
        }
    }
}


/*--------------SECTION 5-----------*/
.section5-catalogo{
    max-width: 1200px;

    &__article{
        flex: 1 1 250px;
    
        &-1--div2, &-2--div2, &-3--div2, &-4--div2{
            @include box-style(rgb(205, 204, 204), 2px 2px 4px black)
        }
    }
}


/*--------------------MEDIA QUERIES-------------------*/
@media (max-width: 1920px){
    #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo{
        margin: 0rem 22.5rem;
    }
}

@media (max-width: 1440px){
    #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo{
        margin: 0rem 7.5rem;
    }
}

@media (max-width: 1366px){
    #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo{
        margin: 0rem 5.5rem;
    }
}

@media (max-width: 1024px){
    #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo{
        margin: 0rem 2.5rem;
    }
}

@media (max-width: 768px){
    #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo{
        margin: 0rem 4.5rem;
    }
}

@media (max-width: 480px){
    #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo{
        padding: 0rem !important;
        margin: 0rem 1rem;
    }

    .catalogo__h2-2{
        margin-top: 1rem;
    }
}
  
@media (max-width: 320px){
    #section1-catalogo, #section2-catalogo, #section3-catalogo, #section4-catalogo, #section5-catalogo{
        padding: 0rem .5rem !important;
    }
}
