/*-----------------------CONTACTO HTML-----------------------*/
/*---------------GRID AREA--------------*/
#grid-container-contact{
    display: grid;
    grid-template-areas: 
    "header"
    "h1"
    "section1"
    "section2"
    "section3"
    "footer";
}

header{
    grid-area: header;
}
.h1-contacto{
    grid-area: h1;
}
#section1-contacto{
    grid-area: section1;
}
#section2-contacto{
    grid-area: section2;
}
#section3-contacto{
    grid-area: section3;
}
footer{
    grid-area: footer;
}

/*-------------SECTION2-FORM-----------------*/
.section2-contacto__article1{
    @include box-style(rgba(185, 182, 182, 0.311), 2px 3px 8px 0 gray);
    margin: 0px 150px;

    &--form{
        @include box-style(rgb(151, 151, 151), 2px 3px 8px 0 #000);
        @include size(50%, auto);

        &--submit{
            @include size(100%, auto);
            box-shadow: 2px 3px 8px 0 #000;

            .button-submit__active:hover{
                background-color: rgb(205, 204, 204);
                color: rgb(255, 255, 255);
            }
        }
    }
}



/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1024px){
/*------------SECTION 2------------------*/  
    .section1__texto{
        text-align: justify;
    }  
    .section2-contacto__article1 {
        margin: 10px 60px;
    }
    .p-3 {
        padding: 0.5rem!important;
    }
}

@media (max-width: 768px){
/*------------SECTION 2------------------*/    
    .section1__texto{
        text-align: justify;
    }
    .section2-contacto__article1 {
        margin: 10px 70px;

        &--form {
            @include size(70%, auto);
        }
    }

}

@media (max-width: 480px){
    .w-75 {
        @include size(100%!important, auto);
    }
    .section1__texto{
        text-align: justify;
    }
    .section2-contacto__article1 {
        margin: 10px 30px;

        &--form {
            @include size(80%, auto);
        }
    }

    .p-3 {
    padding: 1rem!important;
}
}

@media (max-width: 320px){
    #h1-contacto{
        font-size: map-get($font-size, txt-lg);
    }
    
    .section2-contacto__article1 {
        margin: 10px 15px;
        padding-left: 0px!important;
        padding-right: 0px!important;

        &--form {
            padding: 15px;
        }
    }

}

