/*-----------------------CONTACTO HTML-----------------------*/
/*---------------GRID AREA--------------*/
#grid-container-contact{
    display: grid;
    grid-template-areas: 
    "header"
    "h1"
    "section1"
    "section2"
    "section3"
    "footer";
}

header{
    grid-area: header;
}
.h1-contacto{
    grid-area: h1;
}
#section1-contacto{
    grid-area: section1;
}
#section2-contacto{
    grid-area: section2;
}
#section3-contacto{
    grid-area: section3;
}
footer{
    grid-area: footer;
}

.h1-contacto, .section1-contacto, .section2-contacto, .section3-contacto{
    max-width: 1200px;
}

/*-------------SECTION2-FORM-----------------*/
.section2-contacto__article1{
    @include box-style(rgba(185, 182, 182, 0.311), 2px 3px 8px 0 gray);
    margin: 0rem 9rem;

    &--form{
        @include box-style(rgb(151, 151, 151), 2px 3px 8px 0 #000);
        @include size(50%, 100%);

        &--submit{
            @include size(100%, auto);
            box-shadow: 2px 3px 8px 0 #000;

            .button-submit__active:hover{
                background-color: rgb(205, 204, 204);
                color: rgb(255, 255, 255);
            }
        }
    }
}


/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px){
    #h1-contacto{
        font-size: map-get($font-size, txt-lg);
    }

    .section1-contacto{
        margin: 0rem 22.5rem;


        &__article--texto{
            font-size: map-get($font-size, txt-xmd);
            text-align: justify;
        }
    }

    .section2-contacto{
        margin: 0rem 22.5rem;
    }

    .section3-contacto{
        margin: 0rem 22.5rem;

        &__article1--text1{
            font-size: map-get($font-size, txt-xmd);
        }
    }
}

@media (max-width: 1440px){
    .section1-contacto, .section2-contacto, .section3-contacto{
        margin: 0rem 7.5rem;
    }
}

@media (max-width: 1366px){
    #h1-contacto{
        font-size: map-get($font-size, txt-md);
    }

    .section1-contacto{
        margin: 0rem 5.5rem;

        &__article--texto{
            font-size: map-get($font-size, txt-sm);
        }
    }

    .section2-contacto{
        margin: 0rem 5.5rem;
    }

    .section3-contacto{
        margin: 0rem 5.5rem;

        &__article1--text1{
            font-size: map-get($font-size, txt-sm);
        }
    }
}

@media (max-width: 1024px){
    .section1-contacto, .section3-contacto{
        margin: 0rem 2rem;
    }

    .section2-contacto{
        margin: 0rem 1rem;

        &__article1 {
            margin: 0rem 2.75rem;
        }
    }
}

@media (max-width: 768px){
    .section1-contacto,.section3-contacto{
        margin: .5rem 0rem;
 }
/*------------SECTION 2------------------*/    
    .section2-contacto{
        margin: .5rem 0rem;

        &__article1 {
            margin: 1rem 4.25rem;
    
            &--form {
                @include size(70%, auto);
            }
        }
    }
}

@media (max-width: 480px){
    .w-75 {
        @include size(90%!important, auto);
    }
    .section2-contacto__article1 {
        margin: 0rem .5rem;

        &--form {
            @include size(90%, auto);
        }
    }
}

@media (max-width: 320px){
    .section2-contacto__article1 {
        margin: 0rem .5rem;
        padding-left: 0rem!important;
        padding-right: 0rem!important;
    }
}

