/*--------------DEFENSA AL CONSUMIDOR--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-defenseConsumer{
    display: grid;
    grid-template-areas: 
    "header"
    "section1"
    "footer";

    header{
        grid-area: header;
    }
    #section-defensaConsumidor{
        grid-area: section1;
    }
    footer{
        grid-area: footer;
    }
}

/*---------------SECTION 1--------------*/
#section-defensaConsumidor{
    margin: 20px 50px;
    box-shadow: 2px 2px 4px 0 rgb(100, 100, 100);
    background-color: rgba(185, 182, 182, 0.278);

    .section-defensaConsumidor__h1{
        font-size: xx-large;
    }
}


/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 480px){
/*------------SECTION 1------------------*/    
    #section-defensaConsumidor {
        margin: 20px;

        .section-defensaConsumidor__h1 {
            font-size: x-large;
        }
    }
}   
    