/*--------------DEFENSA AL CONSUMIDOR--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-defenseConsumer{
    display: grid;
    grid-template-areas: 
    "header"
    "section1"
    "footer";

    header{
        grid-area: header;
    }
    #section-defensaConsumidor{
        grid-area: section1;
    }
    footer{
        grid-area: footer;
    }
}

/*---------------SECTION 1--------------*/
.section-defensaConsumidor{
    max-width: 1200px;
    @include box-style(rgba(185, 182, 182, 0.427), 2px 2px 4px 0 rgb(100, 100, 100));

    &__h1{
        font-size: map-get($font-size, txt-md);
    }
    &__article--text--h2{
        font-size: map-get($font-size, txt-xmd);
    }
    &__article--text--p{
        font-size: map-get($font-size, txt-sm);
        text-align: justify;
    }
}


/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px){
    .section-defensaConsumidor{
        margin: 1.25rem 22.5rem;
    }
}

@media (max-width: 1440px){
    .section-defensaConsumidor{
        margin: 1.25rem 15rem;
    }
}

@media (max-width: 1366px){
    .section-defensaConsumidor{
        margin: 1.25rem 9rem;
    }
}

@media (max-width: 1024px){
    .section-defensaConsumidor{
        margin: 1.25rem 5rem;
    }
}

@media (max-width: 768px){
    .section-defensaConsumidor{
        margin: 1.25rem 2rem;

        &__h1{
            font-size: map-get($font-size, txt-xmd);
        }
        &__article--text--h2{
            font-size: map-get($font-size, txt-sm);
        }
        &__article--text--p{
            font-size: map-get($font-size, txt-xsm);
        }
    }
}

@media (max-width: 480px){
    .section-defensaConsumidor{
        margin: 1.25rem 0.5rem;
    }
}   
@media (max-width: 320px){
    .section-privacity {
        margin: .5rem;

        &__h1{
            font-size: map-get($font-size, txt-sm);
        }
        &__article--text--h2{
            font-size: map-get($font-size, txt-xsm);
        }
    }
}