/*-----------------------DONDE ESTAMOS HTML-----------------------*/
/*---------------GRID AREA--------------*/
#grid-container_dondeEstamos{
    display: grid;
    grid-template-areas: 
    "header"
    "h1"
    "section1"
    "footer";

    header{
        grid-area: header;
    }
    #h1-ubicacion{
        grid-area: h1;
    }
    #section1-maps{
        grid-area: section1;
    }
    footer{
        grid-area: footer;
    }

}

/*---------------SECTION 1--------------*/
.section1-maps{
    max-width: 1200px;

    &__link{
        @include size (70vw, 80vh);
        box-shadow: 2px 2px 4px black;
    }

    &__text{
        background-color: rgb(211, 211, 211)!important;
    
        &--li{
            font-size: map-get($font-size, txt-sm);
            color: black;
        }
    }
}


/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px){
    .h1-ubicacion{
        font-size: map-get($font-size, txt-xlg);
    }
    .section1-maps{
        margin: 0.5rem 22.5rem;

        &__link{
            @include size (50vw, 85vh);
        }
    }
}

@media (max-width: 1440px){
    .section1-maps{
        margin: 0.5rem 16rem;

        &__link{
            @include size (60vw, 85vh);
        }
    }
}

@media (max-width: 1024px){
    .section1-maps {
        margin: 0.5rem 8rem;

        &__link{
            @include size (70vw, 70vh);
        }
    }

}

@media (max-width: 768px){
    .h1-ubicacion{
        font-size: map-get($font-size, txt-md);
    }

    .section1-maps{
        margin: 0.5rem 1rem; 

        &__link{
            @include size (80vw, 75vh);
        }
    }
}

@media (max-width: 480px){
/*------------SECTION 1------------------*/    
.section1-maps{
    margin: 0rem .5rem;

        &__text--li {
            font-size: map-get($font-size, txt-sm);
        }
        &__link{
            @include size (90vw, 65vh);
        }
    }
}   

@media (max-width: 320px){
/*------------H1------------------*/   
    #h1-ubicacion {
        font-size: map-get($font-size, txt-xmd);
    }
/*------------SECTION 1------------------*/   
.section1-maps {
    margin: 0rem 0rem;

    &__link{
        @include size (85vw, 50vh);
    }
    &__text{
        margin: 0.5rem;

        &--li {
            text-align: center;
            }
        }
    }
}