/*--------------ENVIOS-------------------*/
/*---------------GRID AREA--------------*/
#grid-container-shipments{
    display: grid;
    grid-template-areas: 
    "header"
    "section1"
    "footer";

    header{
        grid-area: header;
    }
    #section-shipments{
        grid-area: section1;
    }
    footer{
        grid-area: footer;
    }
}

/*------------SECTION 1------------------*/   
.section-shipments{
    max-width: 1200px;
    @include box-style(rgba(185, 182, 182, 0.427), 2px 2px 4px 0 rgb(100, 100, 100));
    
        &__article--h1{
            font-size: map-get($font-size, txt-xlg);
        }
        &__article--text{
            font-size: map-get($font-size, txt-sm);
            text-align: justify;
            line-height: 1.5;
        }
}


/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px){
    .section-shipments{
        margin: 1.25rem 22.5rem;
    }

}

@media (max-width: 1440px){
    .section-shipments{
        margin: 1.25rem 10rem;
    }
}

@media (max-width: 1366px){
    .section-shipments{
        margin: 1.25rem 7rem;
    }
}

@media (max-width: 1024px){
    .section-shipments{
        margin: 1.25rem 5rem;
    }
}

@media (max-width: 768px){
    .section-shipments{
        margin: 1.25rem 2rem;
    }
}

@media (max-width: 480px){
/*------------SECTION 1------------------*/   
    .section-shipments{
        margin: 1.25rem .5rem;
    
        &__article--h1{
            font-size: map-get($font-size, txt-xlg);
        }
        &__article--text{
            font-size: map-get($font-size, txt-xsm);
        }

    }
}    

@media (max-width: 320px){
/*------------SECTION 1------------------*/   
.section-shipments{
    margin: 1rem;
}
}  
