/*-------------------GRID TEMPLEATE AREA----------------------*/
#grid-container-index{
    display: grid;
    grid-template-areas:
    "header"
    "section0"
    "section1"
    "section2"
    "medios-de-pagos"
    "footer";
}
header{
    grid-area: header;
}
#section0{
    grid-area: section0;
}
#section1{
    grid-area: section1;
}
#section2{
    grid-area: section2;
}
#section3-medios-de-pagos{
    grid-area: medios-de-pagos;
}
footer{
    grid-area: footer;
}


/*------SECTION 1-HTML--------*/
.section1{
   max-width: 1200px;


    &__article{
        flex-basis: 29%;
    
        &--img{
            box-shadow: 2px 2px 4px black; 
        }
    
        &--div{
            @include box-style(rgb(205, 204, 204), 2px 2px 4px black);
        }
    }
}

/*------SECTION 2-HTML--------*/
.section2{
    max-width: 1200px;

    &__article{
        flex-direction: column;
        flex-basis: 48%;
    
        &--img{
            box-shadow: 2px 2px 4px black;     
        }
        &--div{
            @include box-style(rgb(205, 204, 204), 2px 2px 4px black);
        }
    }
}

/*------MEDIOS DE PAGOS-HTML--------*/
.section3{
    margin-top: 1.5rem;

    &__content{
        background-color: rgb(237, 237, 237);
    
        &--article{
            @extend .section3__content;
            @include size(20%, auto);
    
            &--img{
                max-width: 50px;
                box-shadow: 2px 2px 4px black; 
                
            }
        }
    }
}


/*-----------------MEDIA QUERIES----------------*/
@media (max-width:1920px){
/*-----------------section 1----------------*/
    .section1 {
        margin: 1.5rem 22.5rem;
    }

/*-----------------section 2----------------*/
    .section2{
        margin: 1.5rem 22.5rem; 
    }

/*-----------------medios de pago----------------*/
    .section3__content{
        margin: 0rem 14rem;
        padding: .25rem;

        .ms-3 {
            margin-left: 0.25rem!important;
        }

        &--article--h4{
            font-size: map-get($font-size, txt-xmd);
        }
    }

}

@media (max-width:1440px){
    /*-----------------section 1----------------*/
    .section1 {
        margin: 1.5rem 10rem;
    }
    /*-----------------section 2----------------*/
    .section2{
        margin: 1.5rem 7rem; 
    }
    /*-----------------medios de pagos----------------*/
    .section3__content{
        margin: 0rem 6rem;

        &--article--h4{
            font-size: map-get($font-size, txt-sm);
        }
    }
}

@media (max-width:1366px){
    .section1, .section2{
        margin: 1.5rem 5rem; 
    }

    .section3__content{
        margin: 0rem 3.5rem;

        &--article{
            margin: .5rem 1rem;
        }

    }
}

@media (max-width: 1024px){
    /*---------------SECTION 1 / SECTION 2---------------*/
    .section1,.section2{
        margin: 1.5rem 3.5rem;
    }

    /*---------------medios de pagos---------------*/

    .section3__content{
        margin: 0rem 2rem;

        &--article{
            @include size(23%!important, auto);
        }
        
        .mx-3 {
            margin-right: 0rem!important;
            margin-left: 0rem!important;
        }
    }
}

@media (max-width: 768px){
/*----------SECTION 1 - INDEX -----------*/
    .section1{
        margin: 1.5rem 0rem; 
    }    

/*----------SECTION 2-----------*/
    .section2{
        margin: 1.5rem 0rem; 

        &__article{
            flex-basis: 48.5%;
        }
    }

/*----------MEDIOS DE PAGO------------*/
    .section3__content{
        margin: 0rem 1rem;

        &--article {
            @include size(35%!important, auto);
    
            &--img{
                margin-left: 0rem!important;
            } 

            .ms-3 {
                margin-left: 0.25rem!important;
           }
        }   
    }       


}    

@media (max-width: 480px){
/*-----------------SECTION 1----------------*/
    .section1__article {
        flex-basis: 41%;

        &--span {
            height: auto;
        }
    }

/*-----------------SECTION 2----------------*/
    .gap-4 {
        gap: 1.5rem!important;
    }
    
    .section2__article {
        flex-basis: 100%;
    }

/*-----------------MEDIOS DE PAGO----------------*/
    .mx-5 {
        margin-right: 0!important;
        margin-left: 0!important;
    }
    
    .section3__content--article {
        @include size(45%!important, auto);

        &--img{
            max-width: 45px;
        }            
        .ms-3 {
            margin-left: 0.5rem!important;
        }
        &--h4{
            font-size: map-get($font-size, txt-xsm);
        }
    }
}

@media (max-width: 320px){
    /*-----------------SECTION 1----------------*/
    .section1__article--span {
        height: auto;
    }
    /*-----------------SECTION 2----------------*/
    .section2__article{
        padding: 0px;
    }
    /*-----------------MEDIOS DE PAGO----------------*/
    .mx-4 {
        margin-right: 0.5rem!important;
        margin-left: 0.5rem!important;
    }
    
    .section3__content{
        margin: 0rem .5rem;

        &--article {
            @include size(100%!important, auto);
    
            &--img {
                max-width: 40px !important;
            }
        }
    } 

    .section3__content .mx-3, .section3__content--article .mx-3 {
        margin-left: 3rem !important;
    }
}       
