/*--------------PAGOS Y DEVOLUVIONES--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-payments{
    display: grid;
    grid-template-areas: 
    "header"
    "section1"
    "section2"
    "footer";

    header{
        grid-area: header;
    }
    #section1-payments{
        grid-area: section1;
    }
    #section2-payments{
        grid-area: section2;
    }
    footer{
        grid-area: footer;
    }
}

/*---------------SECTION 1--------------*/
.section1-payments__h1 {
    font-size: map-get($font-size, txt-lg);
}
.section1-payments__article1--h2, .section1-payments__article2--h2{
    font-size: map-get($font-size, txt-md);
}
.section1-payments__article1--img, .section1-payments__article2--img{
    box-shadow: 2px 2px 4px black;
}
/*------------SECTION 2---------------*/
.section2-payments{
    margin: 20px 50px;
    @include box-style(rgba(185, 182, 182, 0.278), 2px 2px 4px 0 rgb(100, 100, 100));

    &__article--h2{
        font-size: map-get($font-size, txt-lg);
    }
    &__article--text{
        text-align: justify;
        line-height: 1.5;
    }    
}

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 480px){
/*------------SECTION 1------------------*/    
    .section1-payments__article1--img, .section1-payments__article2--img{
        @include size(80%, auto);

    }
/*------------SECTION 2------------------*/   
    .section2-payments-text {
        margin: 20px;
        padding: 0.5rem!important;

        &__article--h2{
            font-size: map-get($font-size, txt-md);
        }
        &__article--text{
            font-size: map-get($font-size, txt-sm);
        }
    }
}   

@media (max-width: 320px){
/*------------SECTION 1------------------*/   
    .section2-payments__article--h2{
        font-size: map-get($font-size, txt-lg);
    }
}
