/*--------------POLITICA DE PROVACIDAD--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-policies{
    display: grid;
    grid-template-areas: 
    "header"
    "section1"
    "footer";

    header{
        grid-area: header;
    }
    #section-privacity{
        grid-area: section1;
    }
    footer{
        grid-area: footer;
    }
}

/*--------------SECTION 1--------------*/
#section-privacity{
    margin: 20px 50px;
    box-shadow: 2px 2px 4px 0 rgb(100, 100, 100);
    background-color: rgba(185, 182, 182, 0.278);

    .section-privacity__h1{
        font-size: xx-large;
    }
    .section-privacity__article--text--p{
        line-height: 1.5;
    }
}


/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 768px){
/*------------SECTION 1------------------*/    
    .section-privacity__article--text--p{
        font-size: small;
        line-height: 1.5;
    }
}
@media (max-width: 480px){
/*------------SECTION 1------------------*/    
    #section-privacity {
        margin: 20px 40px;

        .section-privacity__h1 {
            font-size: x-large;
        }
    }
}  
@media (max-width: 320px){
/*------------SECTION 1------------------*/   
    #section-privacity {
        margin: 20px 25px;
    }
}
