/*--------------POLITICA DE PROVACIDAD--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-policies{
    display: grid;
    grid-template-areas: 
    "header"
    "section1"
    "footer";

    header{
        grid-area: header;
    }
    #section-privacity{
        grid-area: section1;
    }
    footer{
        grid-area: footer;
    }
}

/*--------------SECTION 1--------------*/
.section-privacity{
    margin: 20px 50px;
    @include box-style(rgba(185, 182, 182, 0.278), 2px 2px 4px 0 rgb(100, 100, 100));

    &__h1{
        font-size: map-get($font-size, txt-xl);
    }
    &__article--text--p{
        line-height: 1.5;
        text-align: justify;
    }
}


/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 768px){
/*------------SECTION 1------------------*/    
    .section-privacity__article--text--p{
        font-size: map-get($font-size, txt-sm);
    }
}
@media (max-width: 480px){
/*------------SECTION 1------------------*/    
    .section-privacity {
        margin: 20px 40px;

        &__h1 {
            font-size: map-get($font-size, txt-xl);
        }
    }
}  
@media (max-width: 320px){
/*------------SECTION 1------------------*/   
    .section-privacity {
        margin: 20px 25px;
    }
}
