.gird-container-sitemap{
    display: grid;
    grid-template-areas: 
    "header-1"
    "section-sitemap"
    "footer";

    header{
        grid-area: header-1;
    }
    .section-sitemap{
        grid-area: section-sitemap;
    }
    footer{
        grid-area: footer;
    }
}

.section-sitemap{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        gap: .2rem;
        max-width: 1200px;

        @include box-style(rgba(240, 240, 240, 0.811), 2px 2px 4px black);
    
        &__h1 {
            font-size: map-get($font-size, txt-md);
        }
                
        &__article--div--h2{
            font-size: map-get($font-size, txt-xmd);
        }
        &__pages--li{
            font-size: map-get($font-size, txt-sm);
        }
    }

@media (max-width: 1920px){
    .section-sitemap{
        margin: 1.25rem 22.5rem;
    }
}

@media (max-width: 1440px){
    .section-sitemap{
        margin: 1.25rem 10rem;
    }
}

@media (max-width: 1366px){
    .section-sitemap{
        margin: 1.25rem 7rem;
    }
}

@media (max-width: 1024px){
    .section-sitemap{
        margin: 1.25rem 5rem;
    }
}

@media (max-width: 768px){
    .section-sitemap{
        margin: 1.25rem 2rem;
    }
}

@media (max-width: 480px){
    .section-sitemap{
        margin: 1.25rem 1rem;
    }
}

@media (max-width: 320px){
    .section-sitemap{
        margin: 1rem .5rem;
    }
}
