/*--------------TERMINOS Y CONDICIONES--------------------*/
/*---------------GRID AREA--------------*/
#grid-container-conditions{
    display: grid;
    grid-template-areas: 
    "header"
    "section1"
    "footer";

    header{
        grid-area: header;
    }
    #section-terminos{
        grid-area: section1;
    }
    footer{
        grid-area: footer;
    }
}

/*--------------SECTION 1--------------*/
.section-terminos{
    @include box-style(rgba(185, 182, 182, 0.427), 2px 2px 4px 0 rgb(100, 100, 100));

        &__article--text--h3{
            font-size: map-get($font-size, txt-lg);
        }
        &__article--text--p{
            line-height: 1.5;
            text-align: justify;
        }

}

/*--------------------MEDIA QUERIES----------------------*/
@media (max-width: 1920px){
    .section-terminos{
        margin: 1.25rem 21rem;

        &__h1 {
            font-size: map-get($font-size, txt-lg);
        }
        &__article--text--h3{
            font-size: map-get($font-size, txt-md);
        }
        &__article--text--p{
            font-size: map-get($font-size, txt-xmd);
        }
    }
}

@media (max-width: 1440px){
    .section-terminos{
        margin: 1.25rem 12rem;
        &__h1 {
            font-size: map-get($font-size, txt-lg);
        }
        &__article--text--h3{
            font-size: map-get($font-size, txt-xmd);
        }
        &__article--text--p{
            font-size: map-get($font-size, txt-sm);
        }
    }
}

@media (max-width: 1366px){
    .section-terminos{
        margin: 1.25rem 7rem;
    }
}

@media (max-width: 1024px){
    .section-terminos{
        margin: 1.25rem 5rem;

        &__h1 {
            font-size: map-get($font-size, txt-lg);
        }
        &__article--text--h3{
            font-size: map-get($font-size, txt-xmd);
        }
        &__article--text--p{
            font-size: map-get($font-size, txt-sm);
        }
    }
}

@media (max-width: 768px){
    .section-terminos{
        margin: 1.25rem 2rem;
    }
}

@media (max-width: 480px){
    .section-terminos{
        margin: 1.25rem .5rem;

        &__h1 {
            font-size: map-get($font-size, txt-lg);
        }
        &__article--text--h3{
            font-size: map-get($font-size, txt-xmd);
        }
        &__article--text--p{
            font-size: map-get($font-size, txt-sm);
        }
    } 
} 

@media (max-width: 320px){
    .section-terminos {
        margin: 1rem 0.5rem;

        &__h1 {
            font-size: map-get($font-size, txt-sm);
        }
        &__article--text--h3{
            font-size: map-get($font-size, txt-sm);
        }
        &__article--text--p{
            font-size: map-get($font-size, txt-xsm);
        }
    }
}
