/*---------------------MP-5------------*/
#grid-container-product-mp-5{
    display: grid;
    grid-template-areas: 
    "header"
    "section1-mp-5"
    "section2-mp-5"
    "footer";

    header{
        grid-area: header;
    }
    #section1-mp-5{
        grid-area: section1-mp-5;
    }
    #section2-mp-5{
        grid-area: section2-mp-5;
    }
    #footer{
        grid-area: footer;
    }
}

/*--------------------AREAS------------*/
.section1-mp-5{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    &__div-info{
        background-color: rgb(221, 221, 221)!important;

        .buy-product:hover{
            background-color: rgb(159, 159, 159);
            transition: 0.5s;
        }
        .shipping-product:hover{
            background-color: rgb(159, 159, 159);
            transition: 0.5s;
        }
    }
}

.section2-mp-5__container-decription--text--div1--ul--li{
        background-color: rgb(221, 221, 221)!important;
}

/*-------media queries----------*/
@media (max-width: 1920px){
    .section1-mp-5{
        margin: 1.5rem 20rem;
    }

    .section2-mp-5{
        margin: 1.5rem 20rem;

        &__container-decription--text--h2, &__container-decription--text--div2--h2{
            font-size: map-get($font-size, txt-lg);
        }
        &__container-decription--text--div2--p{
            font-size: map-get($font-size, txt-xmd);
            text-align: justify;
        }

        &__container-decription--text--div1--ul{
            font-size: map-get($font-size, txt-xmd);
        }
    }


}

@media (max-width: 1440px){
    .section1-mp-5, .section2-mp-5{
        margin: 1.5rem 12rem;
    }
}

@media (max-width: 1366px){
    .section1-mp-5, .section2-mp-5{
        margin: 1.5rem 8rem;
    }
}

@media (max-width: 1024px){
    .section1-mp-5, .section2-mp-5{
        margin: 1.5rem 5rem;
    }
}

@media (max-width: 768px){

    .section1-mp-5{
        margin: 1.25rem 2rem;
    }

    .section2-mp-5{
        margin: 1.25rem 2rem;

        &__container-decription--text--h2, &__container-decription--text--div2--h2{
            font-size: map-get($font-size, txt-xlg);
        }
        &__container-decription--text--div2--p{
            font-size: map-get($font-size, txt-sm);
        }

        &__container-decription--text--div1--ul{
            font-size: map-get($font-size, txt-sm);
        }
    }
}

@media (max-width: 480px){
    .section1-mp-5 {
        margin: 1.25rem .5rem;

        &__article{
            display: flex;
            flex-wrap: wrap;
        }
    }

    .section2-mp-5 {
        margin: 1.25rem .5rem;

        &__container-decription--text--h2, &__container-decription--text--div2--h2{
            font-size: map-get($font-size, txt-md);
        }
        &__container-decription--text--div2--p{
            font-size: map-get($font-size, txt-xsm);
        }

        &__container-decription--text--div1--ul{
            font-size: map-get($font-size, txt-xsm);

        }

        .p-3 {
            padding: 0.5rem !important;
        }
        .p-2 {
            padding: 0.25rem!important;
        }
    }
}

@media (max-width: 320px){
    .section1-mp-5 {
        margin: 1rem .5rem;
    }
    .section2-mp-5 {
        margin: 1rem .5rem;
    }
}